# =====================
# Node / JS
# =====================
node_modules/
**/node_modules/

# =====================
# Environment files
# =====================
.env
.env
!.env.example

# =====================
# IDE / OS
# =====================
.idea/
.DS_Store

# =====================
# Cypress
# =====================
cypress/videos/
cypress/screenshots/

# =====================
# Project-specific
# =====================
git-sim_media/
material/

# =====================
# Temporary / misc
# =====================
*.log
dummy.txt
