version: "3.9"

networks:
  ctf-isolated:
    driver: bridge
    external: true
    name: ctf-isolated
services:
  terminal:
    build:
      context: ./ctf-terminal
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - ctf-isolated
    environment:
      - PORT=3001
    restart: unless-stopped

  app:
    image: ctf-backend
    build:
      context: ./ctf-backend
      dockerfile: Dockerfile
    volumes:
      - challenges_data:/app/challenges
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080"
    networks:
      - ctf-isolated
    depends_on:
      - db
      - ldap
      - terminal
    environment:
      - CONFLUENCE_EMAIL=${CONFLUENCE_EMAIL}
      - CONFLUENCE_API_TOKEN=${CONFLUENCE_API_TOKEN}
      - DOCKER_HOST=unix:///var/run/docker.sock
      - TERMINAL_GATEWAY_URL=http://terminal:3001
      - TERMINAL_WS_URL=ws://terminal:3001
    command: bash -c "java -Djavax.net.ssl.trustStore=/etc/ssl/certs/java/cacerts -Djavax.net.ssl.trustStorePassword=changeit -jar app.jar"
    restart: unless-stopped

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ctfuser
      POSTGRES_PASSWORD: ctfpass
      POSTGRES_DB: ctf
    ports:
      - "5432:5432"
    networks:
      - ctf-isolated
    volumes:
      - pgdata:/var/lib/postgresql/data

  ldap:
    image: osixia/openldap:1.5.0
    environment:
      LDAP_ORGANISATION: "CTF"
      LDAP_DOMAIN: "ctf.local"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_CONFIG_PASSWORD: "admin"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "false"
    ports:
      - "389:389"
    networks:
      - ctf-isolated
    volumes:
      - ldapdata:/var/lib/ldap
      - ldapconfig:/etc/ldap/slapd.d
      - ./ldap/bootstrap/seed:/container/service/slapd/assets/config/bootstrap/ldif/custom
    restart: always

  frontend:
    image: ctf-frontend
    build:
      context: ./ctf-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - ctf-isolated
    environment:
      - API_URL=http://app:8080
      - NEXT_PUBLIC_API_URL=http://localhost:8080
      - TERMINAL_WS_URL=ws://localhost:3001
    depends_on:
      - app
      - terminal

volumes:
  pgdata:
  ldapdata:
  ldapconfig:
  challenges_data:
